<!-- Error Modal -->
<div class="modal fade" id="{{modalName}}" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content text-center">
      <div class="modal-header">
        <h5 class="modal-title" id="errorModalLabel">Oops!</h5>
      </div>
      <div class="modal-body">
        {{message}}
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-primary" id="{{modalName}}_redirectBtn">OK</button>
      </div>
    </div>
  </div>
</div>