<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="icon" type="image/x-icon" href="/static/images/vhs.svg">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.0/font/bootstrap-icons.min.css" rel="stylesheet">
    <style>
        {{!-- might move these colors --}}
        .bg-dark-1 {
            background-color: #1d2024;
        }

        .bg-dark-2 {
            background-color: #171a1d;
        }

        .bg-dark-3 {
            background-color: #141618;
        }

        .bg-dark-4 {
            background-color: #111314;
        }

        .card-image-size {
            max-height: 190;
            max-width: 286;
            padding: 1rem;
        }
        .full {
            height: 100%;
            width: 100%;
        }
        .center {
            margin-left: auto;
            margin-right: auto;
        }

    </style>
</head>

{{!-- These scripts define methods which any page can use --}}
<script src="/static/scripts/helper/validation.helper.js"></script>

{{!-- this is an important script to load inline, to make sure that the buttons which we'll remove do not stay whilst we wait for the js to be fetched. --}}
<script>
    function setHeaderText(autoLoginVersion) {
        console.log(autoLoginVersion)
    let loginLinks = document.querySelectorAll(".login-link");
    let userLinks = document.querySelectorAll(".loggedin-link");
    let customerLinks = document.querySelectorAll(".customer-link");
    let staffLinks = document.querySelectorAll(".staff-link");
    if (autoLoginVersion == 1 || autoLoginVersion == 2) {
        loginLinks.forEach((el) => {
            el.style.display = "none";
        });
        userLinks.forEach((el) => {
            el.style.display = "";
        });
    } else {
        loginLinks.forEach((el) => {
            el.style.display = "";
        });
        userLinks.forEach((el) => {
            el.style.display = "none";
        });
    }
    if (autoLoginVersion == 1) {
        customerLinks.forEach((el) => {
            el.style.display = "";
        });
    } else if (autoLoginVersion == 2) {
        staffLinks.forEach((el) => {
            el.style.display = "";
        });
    } else {
        customerLinks.forEach((el) => {
            el.style.display = "none";
        });
        staffLinks.forEach((el) => {
            el.style.display = "none";
        });
    }
}
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

<body data-bs-theme="dark" style="height: 100svh;" class="d-flex flex-column">
    {{> bootstrap-error
        message="Something went wrong. We'll be redirecting you back to the homepage."
        modalName="errorModal" }}
    {{> bootstrap-error
        message="You need to be logged in to view this, please login."
        modalName="loginModal" }}
    {{> bootstrap-error
        message="You are not authorized to view this."
        modalName="authorizationModal" }}
    {{> header }}
    {{{body}}}
</body>
<script src="/static/scripts/autoLogin.js"></script>
<script>
    setHeaderText(0)
</script>

</html>