<div class="d-flex flex-column justify-content-around align-items-center p-4 card bg-dark-2">
    <div class="d-flex flex-row justify-content-around align-items-center p-2 flex-wrap align-items-stretch gap-2">
        <div class="card" style="width: 18rem;">
            <div class="card-body d-flex flex-column">
                <h3 class="card-title">Visit Us</h3>
                <p class="card-text flex-grow-1">We’d love to welcome you! Find the nearest location and plan your visit today.</p>
                <div class="dropdown mt-2">
                    <a class="btn btn-secondary dropdown-toggle w-100" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Locations
                    </a>
                    <ul class="dropdown-menu w-100">
                        <li><a class="dropdown-item" href="#">Amsterdam</a></li>
                        <li><a class="dropdown-item" href="#">Not Amsterdam</a></li>
                        <li><a class="dropdown-item" href="#">The Moon</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body d-flex flex-column">
                <h3 class="card-title">Catalogue</h3>
                <p class="card-text flex-grow-1">Explore our library of VHS rentals and start watching tonight.</p>
                <a href="#" class="btn btn-primary">View 1K+ Tapes</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body d-flex flex-column">
                <h3 class="card-title">Your Account</h3>
                <p class="card-text flex-grow-1">An account is required to rent tapes. Please log in or sign up to continue.</p>
                <a href="/Login" class="btn btn-secondary">Login</a>
            </div>
        </div>
    </div>
</div>
