<div style="width: 100%" class="d-flex flex-column justify-content-around align-items-center">
    <h1 class="m-2">Welcome to VHS-Rentals</h1>
    {{!-- <hr style="width: 100%; height: 1px; align-self: stretch; border: none; background: #ccc;" /> --}}
</div>
