<h1>Welcome to VHS Rentals!</h1>
<p>This is the homepage. Here is a simple interactive example:</p>
<button id="colorBtn">Change Background Color</button>

<script src="/static/home.js"></script>
<link rel="stylesheet" href="/static/home.css">