<section style="height: 100%;" class="d-flex flex-column justify-content-around align-items-center p-2 bg-dark-3 gap-2">
    {{> home/welcomeSection }}
    {{> home/newestArrivals }}
    {{> home/infoCards }}
</section>