<div class="container mt-5">
    <h1 class="mb-4 text-center">Currently Rented Inventory</h1>
    {{> staff-inventory-filter 
        paginationLabel="Currently rented pagination"
        paginationTopId="rented-pagination-top"
        accordionId="rented-accordion"
        paginationId="rented-pagination"
    }}
</div>
<script src="/static/scripts/helper/youAreNotStaff.js"></script>
<script src="/static/scripts/staff/all-rented.js"></script>
