<div class="container mt-5">
    <h1 class="mb-4 text-center">Rental Archive</h1>
    {{> staff-inventory-filter 
        paginationLabel="Archive pagination"
        paginationTopId="archive-pagination-top"
        accordionId="archive-accordion"
        paginationId="archive-pagination"
    }}
</div>
<script src="/static/scripts/helper/youAreNotStaff.js"></script>
<script src="/static/scripts/staff/archive.js"></script>
