<div class="container py-5">
    <h1 class="mb-4 text-center">Over deze webapplicatie</h1>
    <div class="row justify-content-center mb-5">
        <div class="col-md-8">
            <div class="card shadow-lg">
                <div class="card-body">
                    <h2 class="card-title">Project Checklist</h2>
                    <p class="card-text">Hieronder vind je een overzicht van de actuele requirements, epics, user stories en pagina's zoals bijgehouden in het <code>todo.md</code> bestand. Laatste update: 18 september 2025.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mb-4">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Requirements</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><input type="checkbox" checked disabled> express js</li>
                        <li class="list-group-item"><input type="checkbox" checked disabled> nodemon</li>
                        <li class="list-group-item"><input type="checkbox" checked disabled> winston</li>
                        <li class="list-group-item"><input type="checkbox" checked disabled> express app met handlebars</li>
                        <li class="list-group-item"><input type="checkbox" checked disabled> DRY</li>
                        <li class="list-group-item"><input type="checkbox" checked disabled> integratie testen</li>
                        <li class="list-group-item"><input type="checkbox" checked disabled> CI/CD autodeploy</li>
                        <li class="list-group-item"><input type="checkbox" checked disabled> view layer</li>
                        <li class="list-group-item"><input type="checkbox" checked disabled> Controller layer</li>
                        <li class="list-group-item"><input type="checkbox" checked disabled> Service layer</li>
                        <li class="list-group-item"><input type="checkbox" checked disabled> DAO layer</li>
                        <li class="list-group-item"><input type="checkbox" checked disabled> 3 epics</li>
                        <li class="list-group-item"><input type="checkbox" checked disabled> user stories voor elke epic</li>
                        <li class="list-group-item"><input type="checkbox" checked disabled> logging met winston</li>
                        <li class="list-group-item"><input type="checkbox" checked disabled> gebruik van nodemon</li>
                        <li class="list-group-item"><input type="checkbox" checked disabled> running on docker</li>
                        <li class="list-group-item"><input type="checkbox" checked disabled> Gelaagde architectuur</li>
                        <li class="list-group-item"><input type="checkbox" checked disabled> Geen duplicatie van code</li>
                        <li class="list-group-item"><input type="checkbox" checked disabled> Logische toegang tot functionaliteit</li>
                        <li class="list-group-item"><input type="checkbox" checked disabled> De webapplicatie is gebouwd met JavaScript en Express</li>
                        <li class="list-group-item"><input type="checkbox" checked disabled> MVC-architectuur</li>
                        <li class="list-group-item"><input type="checkbox" checked disabled> Sakila verhuurcasus via een MySql relationele database</li>
                        <li class="list-group-item"><input type="checkbox" disabled> De applicatie is stabiel, crasht niet, en werkt foutloos.</li>
                        <li class="list-group-item"><input type="checkbox" disabled> Een foutsituatie leidt naar passende foutmelding.</li>
                        <li class="list-group-item"><input type="checkbox" checked disabled> Online MySql database</li>
                        <li class="list-group-item"><input type="checkbox" checked disabled> Functionaliteit getest met geautomatiseerde testcases</li>
                        <li class="list-group-item"><input type="checkbox" disabled> Heldere beschrijving van server in README.md</li>
                        <li class="list-group-item"><input type="checkbox" checked disabled> Authenticatie</li>
                        <li class="list-group-item"><input type="checkbox" disabled> UX richtlijnen gevolgd</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="accordion mb-5" id="epicsAccordion">
        <!-- Renting and Returning Epic -->
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingRentReturn">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseRentReturn"
                    aria-expanded="true" aria-controls="collapseRentReturn">
                    Epic: Verhuren & Retourneren (customer)
                </button>
            </h2>
            <div id="collapseRentReturn" class="accordion-collapse collapse show" aria-labelledby="headingRentReturn"
                data-bs-parent="#epicsAccordion">
                <div class="accordion-body">
                    <ul>
                        <li><input type="checkbox" disabled> Als klant wil ik een film kunnen huren zodat ik deze kan bekijken.</li>
                        <li><input type="checkbox" disabled> Als klant wil ik een gehuurde film kunnen retourneren zodat ik niet eindeloos betaal.</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Movie Management Epic -->
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingMovieMgmt">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseMovieMgmt" aria-expanded="false" aria-controls="collapseMovieMgmt">
                    Epic: Filmaanbod beheren (staff)
                </button>
            </h2>
            <div id="collapseMovieMgmt" class="accordion-collapse collapse" aria-labelledby="headingMovieMgmt"
                data-bs-parent="#epicsAccordion">
                <div class="accordion-body">
                    <ul>
                        <li><input type="checkbox" checked disabled> Als medewerker wil ik een film kunnen bekijken zodat ik klanten kan informeren.</li>
                        <li><input type="checkbox" checked disabled> Als medewerker wil ik een film kunnen toevoegen zodat we onze collectie kunnen updaten.</li>
                        <li><input type="checkbox" checked disabled> Als medewerker wil ik een film kunnen bewerken zodat ik fouten kan corrigeren.</li>
                        <li><input type="checkbox" checked disabled> Als medewerker wil ik een film kunnen verwijderen zodat we onze collectie kunnen updaten.</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Searching Library Epic -->
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingSearchLib">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseSearchLib" aria-expanded="false" aria-controls="collapseSearchLib">
                    Epic: Bibliotheek doorzoeken (customer & staff)
                </button>
            </h2>
            <div id="collapseSearchLib" class="accordion-collapse collapse" aria-labelledby="headingSearchLib"
                data-bs-parent="#epicsAccordion">
                <div class="accordion-body">
                    <ul>
                        <li><input type="checkbox" checked disabled> Als klant wil ik door de volledige collectie kunnen bladeren zodat ik een film kan vinden die ik leuk vind.</li>
                        <li><input type="checkbox" checked disabled> Als klant wil ik films kunnen filteren zodat ik niet naar de romantiek categorie hoef te kijken. <span class="text-muted">(filteren op naam, datum, prijs, rating, categorie)</span></li>
                        <li><input type="checkbox" checked disabled> Als medewerker wil ik door de collectie kunnen bladeren en filteren zodat ik kan zien welke films uitgeleend zijn.</li>
                        <li><input type="checkbox" checked disabled> Als gebruiker wil ik een film en zijn details kunnen bekijken.</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Renting History Epic -->
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingRentHist">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseRentHist" aria-expanded="false" aria-controls="collapseRentHist">
                    Epic: Verhuurgeschiedenis (customer)
                </button>
            </h2>
            <div id="collapseRentHist" class="accordion-collapse collapse" aria-labelledby="headingRentHist"
                data-bs-parent="#epicsAccordion">
                <div class="accordion-body">
                    <ul>
                        <li><input type="checkbox" disabled> Als klant wil ik mijn verhuurgeschiedenis kunnen bekijken.</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Rental History Epic -->
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingRentalHist">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseRentalHist" aria-expanded="false" aria-controls="collapseRentalHist">
                    Epic: Verhuurgeschiedenis (staff)
                </button>
            </h2>
            <div id="collapseRentalHist" class="accordion-collapse collapse" aria-labelledby="headingRentalHist"
                data-bs-parent="#epicsAccordion">
                <div class="accordion-body">
                    <ul>
                        <li><input type="checkbox" disabled> Als medewerker wil ik een specifiek exemplaar van een film kunnen bekijken.</li>
                        <li><input type="checkbox" disabled> Als medewerker wil ik de verhuurgeschiedenis van een exemplaar kunnen bekijken.</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Inventory Management Epic -->
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingInventory">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseInventory" aria-expanded="false" aria-controls="collapseInventory">
                    Epic: Inventarisbeheer (staff)
                </button>
            </h2>
            <div id="collapseInventory" class="accordion-collapse collapse" aria-labelledby="headingInventory"
                data-bs-parent="#epicsAccordion">
                <div class="accordion-body">
                    <ul>
                        <li><input type="checkbox" disabled> Als medewerker wil ik de inventaris van een film kunnen bekijken.</li>
                        <li><input type="checkbox" disabled> Als medewerker wil ik kunnen zien wie een exemplaar huurt.</li>
                        <li><input type="checkbox" disabled> Als medewerker wil ik een nieuw exemplaar kunnen toevoegen aan de inventaris.</li>
                        <li><input type="checkbox" disabled> Als medewerker wil ik een exemplaar kunnen verplaatsen tussen winkels.</li>
                        <li><input type="checkbox" disabled> Als medewerker wil ik een exemplaar kunnen verwijderen uit de inventaris.</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Login Epic -->
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingLogin">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseLogin" aria-expanded="false" aria-controls="collapseLogin">
                    Epic: Login (customer & staff)
                </button>
            </h2>
            <div id="collapseLogin" class="accordion-collapse collapse" aria-labelledby="headingLogin"
                data-bs-parent="#epicsAccordion">
                <div class="accordion-body">
                    <ul>
                        <li><input type="checkbox" checked disabled> Als gebruiker wil ik kunnen inloggen.</li>
                        <li><input type="checkbox" checked disabled> Als medewerker wil ik kunnen inloggen.</li>
                        <li><input type="checkbox" checked disabled> Als gebruiker wil ik ingelogd blijven met sessie- en refresh tokens.</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Sessions Epic -->
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingSessions">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseSessions" aria-expanded="false" aria-controls="collapseSessions">
                    Epic: Sessies (customer & staff)
                </button>
            </h2>
            <div id="collapseSessions" class="accordion-collapse collapse" aria-labelledby="headingSessions"
                data-bs-parent="#epicsAccordion">
                <div class="accordion-body">
                    <ul>
                        <li><input type="checkbox" checked disabled> Als gebruiker wil ik ingelogd blijven met sessie- en refresh tokens.</li>
                        <li><input type="checkbox" checked disabled> Als gebruiker wil ik de volgende dag terug kunnen komen zonder opnieuw in te loggen.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mb-4">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Concrete Pagina's</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><input type="checkbox" checked disabled> /Film?v=1000</li>
                        <li class="list-group-item"><input type="checkbox" checked disabled> /Catalogue</li>
                        <li class="list-group-item"><input type="checkbox" checked disabled> /Account</li>
                        <li class="list-group-item"><input type="checkbox" disabled> /Staff/Dashboard</li>
                        <li class="list-group-item"><input type="checkbox" disabled> /Rent?v=1000</li>
                        <li class="list-group-item"><input type="checkbox" disabled> /Customer/History?v=1000</li>
                        <li class="list-group-item"><input type="checkbox" disabled> /Customer/History</li>
                        <li class="list-group-item"><input type="checkbox" disabled> /Rented</li>
                        <li class="list-group-item"><input type="checkbox" disabled> /Staff/FilmHistory?v=1000</li>
                        <li class="list-group-item"><input type="checkbox" checked disabled> /Staff/Edit/Film?v=1000</li>
                        <li class="list-group-item"><input type="checkbox" disabled> /Staff/Edit/Inventory?v=1000</li>
                        <li class="list-group-item"><input type="checkbox" disabled> /Stores?v=1</li>
                    </ul>
                    <h6 class="mt-3">Overige taken</h6>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><input type="checkbox" disabled> / (visit us modal fixen)</li>
                        <li class="list-group-item"><input type="checkbox" checked disabled> authorisatie in auth.js met enums</li>
                        <li class="list-group-item"><input type="checkbox" disabled> info opvragen over staff (store owners)</li>
                        <li class="list-group-item"><input type="checkbox" checked disabled> rating veld max 5 karakters</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="col-md-8">
            <div class="card bg-secondary text-white shadow">
                <div class="card-body">
                    <h5 class="card-title">Randvoorwaarden & Architectuur</h5>
                    <ul>
                        <li>Callbackfuncties (geen async/await of Promises)</li>
                        <li>DRY, view/controller/service/DAO lagen</li>
                        <li>Logging met Winston</li>
                        <li>Gebruik van Nodemon</li>
                    </ul>
                    <a href="https://brightspace.avans.nl/d2l/le/lessons/251408/topics/1770191"
                        class="btn btn-outline-light btn-sm" target="_blank">Randvoorwaarden</a>
                    <a href="https://brightspace.avans.nl/d2l/le/lessons/251408/topics/1773535"
                        class="btn btn-outline-light btn-sm" target="_blank">Architectuur</a>
                    <a href="https://brightspace.avans.nl/d2l/le/lessons/251408/topics/1731970"
                        class="btn btn-outline-light btn-sm" target="_blank">Non-functionals</a>
                    <a href="https://brightspace.avans.nl/d2l/le/lessons/251408/topics/1758763"
                        class="btn btn-outline-light btn-sm" target="_blank">Functionals</a>
                </div>
            </div>
        </div>
    </div>
</div>