<div class="container py-5">
    <h1 class="mb-4 text-center">Over deze webapplicatie</h1>
    <div class="row justify-content-center mb-5">
        <div class="col-md-8">
            <div class="card shadow-lg">
                <div class="card-body">
                    <h2 class="card-title">Project Checklist</h2>
                    <p class="card-text">Hieronder vind je een overzicht van de actuele requirements, epics, user stories en pagina's zoals bijgehouden in het <code>todo.md</code> bestand. Laatste update: 18 september 2025.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mb-4">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Requirements</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><input type="checkbox" checked disabled> express js</li>
                        <li class="list-group-item"><input type="checkbox" checked disabled> nodemon</li>
                        <li class="list-group-item"><input type="checkbox" checked disabled> winston</li>
                        <li class="list-group-item"><input type="checkbox" checked disabled> express app met handlebars</li>
                        <li class="list-group-item"><input type="checkbox" checked disabled> DRY</li>
                        <li class="list-group-item"><input type="checkbox" checked disabled> integratie testen</li>
                        <li class="list-group-item"><input type="checkbox" checked disabled> CI/CD autodeploy</li>
                        <li class="list-group-item"><input type="checkbox" checked disabled> view layer</li>
                        <li class="list-group-item"><input type="checkbox" checked disabled> Controller layer</li>
                        <li class="list-group-item"><input type="checkbox" checked disabled> Service layer</li>
                        <li class="list-group-item"><input type="checkbox" checked disabled> DAO layer</li>
                        <li class="list-group-item"><input type="checkbox" checked disabled> 3 epics</li>
                        <li class="list-group-item"><input type="checkbox" checked disabled> user stories voor elke epic</li>
                        <li class="list-group-item"><input type="checkbox" checked disabled> logging met winston</li>
                        <li class="list-group-item"><input type="checkbox" checked disabled> gebruik van nodemon</li>
                        <li class="list-group-item"><input type="checkbox" checked disabled> running on docker</li>
                        <li class="list-group-item"><input type="checkbox" checked disabled> Gelaagde architectuur</li>
                        <li class="list-group-item"><input type="checkbox" checked disabled> Geen duplicatie van code</li>
                        <li class="list-group-item"><input type="checkbox" checked disabled> Logische toegang tot functionaliteit</li>
                        <li class="list-group-item"><input type="checkbox" checked disabled> De webapplicatie is gebouwd met JavaScript en Express</li>
                        <li class="list-group-item"><input type="checkbox" checked disabled> MVC-architectuur</li>
                        <li class="list-group-item"><input type="checkbox" checked disabled> Sakila verhuurcasus via een MySql relationele database</li>
                        <li class="list-group-item"><input type="checkbox" disabled> De applicatie is stabiel, crasht niet, en werkt foutloos.</li>
                        <li class="list-group-item"><input type="checkbox" disabled> Een foutsituatie leidt de gebruiker altijd naar een scherm met een passende, heldere foutmelding.</li>
                        <li class="list-group-item"><input type="checkbox" checked disabled> De online applicatie maakt gebruik van een online MySql database.</li>
                        <li class="list-group-item"><input type="checkbox" checked disabled> De functionaliteit die je gemaakt hebt is getest met correcte, passende, en goed uitgewerkte, geautomatiseerde testcases die slagen.</li>
                        <li class="list-group-item"><input type="checkbox" disabled> Er is een heldere en correcte beschrijving van je server in de readme.md van je code in een online Git repository .</li>
                        <li class="list-group-item"><input type="checkbox" checked disabled> Je applicatie bevat authenticatie</li>
                        <li class="list-group-item"><input type="checkbox" disabled> Je applicatie volgt de UX richtlijnen zoals in de lessen is besproken, zodat deze gebruiksvriendelijk is en past bij het gebruikersperspectief dat je gekozen hebt.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="accordion mb-5" id="epicsAccordion">
        <!-- Renting and Returning Epic -->
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingRentReturn">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseRentReturn"
                    aria-expanded="true" aria-controls="collapseRentReturn">
                    Epic: Verhuren & Retourneren (customer)
                </button>
            </h2>
            <div id="collapseRentReturn" class="accordion-collapse collapse show" aria-labelledby="headingRentReturn"
                data-bs-parent="#epicsAccordion">
                <div class="accordion-body">
                    <ul>
                        <li><input type="checkbox" disabled> as a customer I want to be able to rent a movie so that I am able to watch it</li>
                        <li><input type="checkbox" disabled> as a customer I want to be able to return a rented movie so that I don't get indefinitely billed</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Movie Management Epic -->
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingMovieMgmt">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseMovieMgmt" aria-expanded="false" aria-controls="collapseMovieMgmt">
                    Epic: Movie management (staff)
                </button>
            </h2>
            <div id="collapseMovieMgmt" class="accordion-collapse collapse" aria-labelledby="headingMovieMgmt"
                data-bs-parent="#epicsAccordion">
                <div class="accordion-body">
                    <ul>
                        <li><input type="checkbox" checked disabled> as an employee I want to be able to look at the movies we have in our stores so that I can give specific information to customers</li>
                        <li><input type="checkbox" checked disabled> as an employee I want to be able to add a movie so that we can update our collection</li>
                        <li><input type="checkbox" checked disabled> as an employee I want to be able to edit a movie so that I can correct mistakes</li>
                        <li><input type="checkbox" checked disabled> as an employee I want to be able to remove a movie so that we can update our collection</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Searching Library Epic -->
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingSearchLib">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseSearchLib" aria-expanded="false" aria-controls="collapseSearchLib">
                    Epic: Searching library (customer & staff)
                </button>
            </h2>
            <div id="collapseSearchLib" class="accordion-collapse collapse" aria-labelledby="headingSearchLib"
                data-bs-parent="#epicsAccordion">
                <div class="accordion-body">
                    <ul>
                        <li><input type="checkbox" checked disabled> as an customer I want to be able to browse the entire movie collection so that I can find a movie that I like</li>
                        <li><input type="checkbox" checked disabled> as an customer I want to be able to filter the movies so that I do not have to look at the romance category. <span class="text-muted">(being able to filter on name, date, price, rating, category)</span></li>
                        <li><input type="checkbox" checked disabled> as an employee I want to be able to browse and filter the entire movie collection so that I can see movies that are out, and am able to give correct suggestions to customers</li>
                        <li><input type="checkbox" checked disabled> as an user I want to be able to view any movie and it's details so that i can proceed from there correctly</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Renting History Epic -->
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingRentHist">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseRentHist" aria-expanded="false" aria-controls="collapseRentHist">
                    Epic: Renting history (customer)
                </button>
            </h2>
            <div id="collapseRentHist" class="accordion-collapse collapse" aria-labelledby="headingRentHist"
                data-bs-parent="#epicsAccordion">
                <div class="accordion-body">
                    <ul>
                        <li><input type="checkbox" disabled> as an customer I want to be able to look at my renting history so that I can see which items I still need to return, and so that I am able to check for payment mistakes</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Rental History Epic -->
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingRentalHist">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseRentalHist" aria-expanded="false" aria-controls="collapseRentalHist">
                    Epic: Rental history (staff)
                </button>
            </h2>
            <div id="collapseRentalHist" class="accordion-collapse collapse" aria-labelledby="headingRentalHist"
                data-bs-parent="#epicsAccordion">
                <div class="accordion-body">
                    <ul>
                        <li><input type="checkbox" checked disabled> as an employee I want to be able to look at a specific copy of a movie so that I can see the specific copies separately</li>
                        <li><input type="checkbox" checked disabled> as an employee I want to be able to look at the renting history of a specific movie copy so that we can look for fraud</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Inventory Management Epic -->
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingInventory">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseInventory" aria-expanded="false" aria-controls="collapseInventory">
                    Epic: Inventory management (staff)
                </button>
            </h2>
            <div id="collapseInventory" class="accordion-collapse collapse" aria-labelledby="headingInventory"
                data-bs-parent="#epicsAccordion">
                <div class="accordion-body">
                    <ul>
                        <li><input type="checkbox" checked disabled> as an employee I want to be able to look at the inventry for a specific film so that i can see whether we still have it in storage</li>
                        <li><input type="checkbox" checked disabled> as an employee I want to be able to add a new copy of a film to the inventory of 1 of our stores, so that we can actually keep the website up to date.</li>
                        <li><input type="checkbox" checked disabled> as an employee I want to be able to be able to move a copy from 1 store to another so that i people can return copies to any store of their choice, no matter where they rented it from.</li>
                        <li><input type="checkbox" checked disabled> as an employee I want to be able to remove a copy from our inventory so that we can remove stolen items from our website.</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Login Epic -->
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingLogin">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseLogin" aria-expanded="false" aria-controls="collapseLogin">
                    Epic: Login (customer & staff)
                </button>
            </h2>
            <div id="collapseLogin" class="accordion-collapse collapse" aria-labelledby="headingLogin"
                data-bs-parent="#epicsAccordion">
                <div class="accordion-body">
                    <ul>
                        <li><input type="checkbox" checked disabled> as an user I want to be able to login so that I can see personal information</li>
                        <li><input type="checkbox" checked disabled> as an employee I want to be able to login so that I can do my job correctly</li>
                        <li><input type="checkbox" checked disabled> as an user I want to be able to stay logged in so that I don't need so send my login over the internet at every request</li>
                        <li><input type="checkbox" checked disabled> as an user I want to bew able to return to the website the next day without having to login again, so that using the website is an easier process for me.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mb-4">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Concrete Pagina's</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><input type="checkbox" checked disabled> /Film?v=1000 for viewing a specific film</li>
                        <li class="list-group-item"><input type="checkbox" checked disabled> /Catalogue for viewing the full catalog</li>
                        <li class="list-group-item"><input type="checkbox" checked disabled> /Account the customer dashboard</li>
                        <li class="list-group-item"><input type="checkbox" checked disabled> /Staff/Dashboard the staff dashboard</li>
                        <li class="list-group-item"><input type="checkbox" disabled> /Rent?v=1000 the page to rent a film</li>
                        <li class="list-group-item"><input type="checkbox" disabled> /Customer/History?v=1000 for viewing your renting history of this item</li>
                        <li class="list-group-item"><input type="checkbox" disabled> /Customer/History for viewing your entire renting history</li>
                        <li class="list-group-item"><input type="checkbox" disabled> /Rented for viewing the items that you are currently renting.</li>
                        <li class="list-group-item"><input type="checkbox" checked disabled> /Staff/Archive?v=1000 so that staff can see renting history</li>
                        <li class="list-group-item"><input type="checkbox" checked disabled> /Staff/Edit/Film?v=1000 so that staff can CRUD a film</li>
                        <li class="list-group-item"><input type="checkbox" checked disabled> /Staff/Edit/Inventory?v=1000 so that staff can CRUD the inventory of a film</li>
                    </ul>
                    <h6 class="mt-3">Overige taken</h6>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><input type="checkbox" disabled> / (visit us modal fixen)</li>
                        <li class="list-group-item"><input type="checkbox" checked disabled> authorisation in auth.js with enums</li>
                        <li class="list-group-item"><input type="checkbox" disabled> get info on staff, whether they are store owners</li>
                        <li class="list-group-item"><input type="checkbox" checked disabled> limit form RATING field to max 5 characters</li>
                        <li class="list-group-item"><input type="checkbox" disabled> remove the CICD test for the login, forgot password button</li>
                        <li class="list-group-item"><input type="checkbox" disabled> add CICD tests for pages (Archive, Edit Inventory)</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="col-md-8">
            <div class="card bg-secondary text-white shadow">
                <div class="card-body">
                    <h5 class="card-title">Randvoorwaarden & Architectuur</h5>
                    <ul>
                        <li>Callbackfuncties (geen async/await of Promises)</li>
                        <li>DRY, view/controller/service/DAO lagen</li>
                        <li>Logging met Winston</li>
                        <li>Gebruik van Nodemon</li>
                    </ul>
                    <a href="https://brightspace.avans.nl/d2l/le/lessons/251408/topics/1770191"
                        class="btn btn-outline-light btn-sm" target="_blank">Randvoorwaarden</a>
                    <a href="https://brightspace.avans.nl/d2l/le/lessons/251408/topics/1773535"
                        class="btn btn-outline-light btn-sm" target="_blank">Architectuur</a>
                    <a href="https://brightspace.avans.nl/d2l/le/lessons/251408/topics/1731970"
                        class="btn btn-outline-light btn-sm" target="_blank">Non-functionals</a>
                    <a href="https://brightspace.avans.nl/d2l/le/lessons/251408/topics/1758763"
                        class="btn btn-outline-light btn-sm" target="_blank">Functionals</a>
                </div>
            </div>
        </div>
    </div>
</div>