<div style="width: 1300px">
    {{> vhs-case
    title="ARACHNOPHOBIA ROLLERCOASTER"
    font-size="23px"
    actor="MATTHEW JOHANSSON"
    category="Documentary"
    year="2010"
    description="A Awe-Inspiring Yarn of a Hunter And a Feminist who must Challenge a Dentist in The Outback"  }}
</div>
<div style="width: 1100px">
    {{> vhs-case
    title="ARACHNOPHOBIA ROLLERCOASTER"
    font-size="19.5px"
    actor="MATTHEW JOHANSSON"
    category="Documentary"
    year="2010"
    description="A Awe-Inspiring Yarn of a Hunter And a Feminist who must Challenge a Dentist in The Outback"  }}
</div>
<div style="width: 900px">
    {{> vhs-case
    title="ARACHNOPHOBIA ROLLERCOASTER"
    font-size="16px"
    actor="MATTHEW JOHANSSON"
    category="Documentary"
    year="2010"
    description="A Awe-Inspiring Yarn of a Hunter And a Feminist who must Challenge a Dentist in The Outback"  }}
</div>
<div style="width: 700px">
    {{> vhs-case
    title="ARACHNOPHOBIA ROLLERCOASTER"
    font-size="12.5px"
    actor="MATTHEW JOHANSSON"
    category="Documentary"
    year="2010"
    description="A Awe-Inspiring Yarn of a Hunter And a Feminist who must Challenge a Dentist in The Outback"  }}
</div>
<div style="width: 400px">
    {{> vhs-case
    title="ARACHNOPHOBIA ROLLERCOASTER"
    font-size="7px"
    actor="MATTHEW JOHANSSON"
    category="Documentary"
    year="2010"
    description="A Awe-Inspiring Yarn of a Hunter And a Feminist who must Challenge a Dentist in The Outback"  }}
</div>
<div style="width: 200px">
    {{> vhs-case
    title="ARACHNOPHOBIA ROLLERCOASTER"
    font-size="3.5px"
    actor="MATTHEW JOHANSSON"
    category="Documentary"
    year="2010"
    description="A Awe-Inspiring Yarn of a Hunter And a Feminist who must Challenge a Dentist in The Outback"  }}
</div>























<script>
    const urlParams = new URLSearchParams(window.location.search);
    const film = urlParams.get('v');
    if (film == null) {
        window.location.href = "/Films"
    }
</script>