<div class="bg-dark-1 full">
    <div class="container p-3">
        <div class="row">
            <div class="col d-flex flex-column row-gap-3">
                {{!-- Vertical column 1 --}}
                <div class="card p-3 d-flex gap-3">
                    <div id="carouselExample" class="carousel slide carousel-fade" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="card center bg-dark-1 vhs-content">
                                    {{> vhs-case
                                    title=""
                                    actor=""
                                    category=""
                                    year=""
                                    description=""  }}
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="card center bg-dark-1 vhs-content">
                                    <img src="/static/images/vhs.svg" class="d-block w-100" alt="...">
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <div>
                        <h1 class="filmTitleInnerHTML">ARACHNOPHOBIA ROLLERCOASTER</h1>
                        <span class="descriptionInnerHTML">A Awe-Inspiring Yarn of a Hunter And a Feminist who must Challenge a Dentist in The Outback</span>
                    </div>
                </div>
                <div class="card p-3 flex-row gap-3">
                    <a href="/Rent" class="btn btn-primary addQueryParam customer-link">Rent Film</a>
                    <a href="/Login" class="btn btn-primary addQueryParam login-link">Login to Rent Film</a>
                    <a href="/Customer/History" class="btn btn-secondary customer-link addQueryParam">Rental History</a>
                    <a href="/Share" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#shareModal"> <i class="bi bi-share"></i> Share Film</a>
                    <a href="/Staff/Edit/Film" class="btn btn-danger staff-link addQueryParam">Edit Film</a>
                    <a href="/Staff/Edit/Inventory" class="btn btn-danger staff-link addQueryParam">Edit Film</a>
                    <a href="/Staff/FilmHistory" class="btn btn-primary staff-link addQueryParam">Film Renting History</a>
                </div>
                
            </div>
            <div class="col-md-auto">
            </div>
            <div class="col col-lg-3 card">
                {{!-- Vertical column 1 --}}
            
            </div>
        </div>
    </div>
</div>
<style>
    .vhs-content {
        font-size: 12.5px;
        width: 700px; 
        height: 539px
    }

    @media (max-width: 770px){
        .vhs-content {
            font-size: 8px;
            width: 500px; 
            height: 385px
        }
    }

    @media (max-width: 450px){
        .vhs-content {
            font-size: 7px;
            width: 400px; 
            height: 309px
        }
    }
</style>
<script src="/static/scripts/film.js"></script>
{{> shareButton}}