<div class="container mt-5"></div>
    <h1 class="mb-4 text-center">Your Rental History</h1>
    {{> customer-history-archive 
        paginationLabel="Rental history pagination"
        paginationTopId="customer-history-pagination-top"
        accordionId="customer-history-accordion"
        paginationId="customer-history-pagination"
    }}
</div>
<script src="/static/scripts/helper/youAreNotACustomer.js"></script>
<script src="/static/scripts/history.js"></script>
