{{#if (eq peagtype "customer")}}
<section class="customer-login-container">
    <form class="customer-login-form">
        <h2 class="customer-login-title">Customer Login</h2>
        {{#if error}}
        <div class="error-message">{{error}}</div>
        {{/if}}
        <label for="email">Email address</label>
        <input type="text" id="email" name="email" placeholder="Enter email" required>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Password" required>
        <div class="remember-me-row">
            <input type="checkbox" id="rememberMe" name="rememberMe">
            <label for="rememberMe" style="margin-left: 0.5em; margin-bottom: 0; display: inline-block; vertical-align: middle;">Remember me</label>
        </div>
        <button type="button" onclick="submitLogin(1)">Login</button>
        <div class="login-links-row">
            <a href="#">Forgot password?</a>
            <a href="/Staff/Login">I work here</a>
        </div>
    </form>
</section>
<link rel="stylesheet" href="/static/styles/customer-login.css">
{{/if}}

{{#if (eq peagtype "staff")}}
<section class="staff-login-container">
    <form class="staff-login-form">
        <h2 class="staff-login-title">Staff Login</h2>
        {{#if error}}
        <div class="error-message">{{error}}</div>
        {{/if}}
        <label for="email">Staff Email</label>
        <input type="text" id="email" name="email" placeholder="Enter staff email" required>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Password" required>
        <div class="remember-me-row">
            <input type="checkbox" id="rememberMe" name="rememberMe">
            <label for="rememberMe" style="margin-left: 0.5em; margin-bottom: 0; display: inline-block; vertical-align: middle;">Remember me</label>
        </div>
        <button type="button" onclick="submitLogin(2)">Login</button>
        <div class="login-links-row">
            <a href="#">Forgot password?</a>
            <a href="/Login">I am a Customer</a>
        </div>
    </form>
</section>
<link rel="stylesheet" href="/static/styles/staff-login.css">
{{/if}}

<script src="/static/login.js"></script>